@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Kanit', sans-serif;  */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Nunito', sans-serif;  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: absolute; */
  /* min-height: 100%; */
}

.fnt-kanit{
  font-family: 'Kanit', sans-serif; 
}

.custom-header{
  position: sticky;
  width: 100%;
}

.custom-height-footer {
  position: fixed;
  width: 100%;
  top: calc(100vh - 40px);
}
