@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Kanit', sans-serif;  */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Nunito', sans-serif;  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* position: absolute; */
  /* min-height: 100%; */
}

.fnt-kanit{
  font-family: 'Kanit', sans-serif; 
}

.custom-header{
  position: sticky;
  width: 100%;
}

.custom-height-footer {
  position: fixed;
  width: 100%;
  top: calc(100vh - 40px);
}

.custom-btn.delete{
  border: 1px solid red;
  background-color: #212529;
  color: red;
  padding: 0px 4px 2px 4px;
  transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.custom-btn.delete:hover{
  border: 1px solid white;
  background-color: red;
  color: white;
}

.custom-btn.edit {
  border: 1px solid purple;
  background-color: #212529;
  color: purple;
  padding: 0px 4px 2px 4px;
  transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.custom-btn.edit:hover {
  border: 1px solid white;
  background-color: purple;
  color: white;
}